
* {
  margin: 0;
  padding: 0;
}

body, html {

}

body {
  background-color: #171717;
  color: white;
}



.mainDiv {
  margin-top: 15px;
  height: 80vh;
  /* border-top: solid 2px white;
  padding-top: 2px; */
  overflow: auto;
  padding-left: 15px;
  /* font-family: 'Cousine', monospace; */
  font-family: 'IBM Plex Mono', monospace;
  font-variant-ligatures: 12pt;
}


.typingDiv {
  /* margin-top: 80vh; */
  border-top: solid 2px white;
  padding-top: 2px;
}

.spacer {
  color: black;
}

p {
  margin-bottom: 3px;
}

#line1 {
  color: #1d1f1d;
  animation-name: appear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  /* 100% { color: black}; */
  100% {color: white};
}
