

* {
  margin: 0;
  padding: 0;
}

body, html {
  /* overflow: hidden; */
}

body {
  background-color: #666699;
}

.header {
  text-align: center;
  background-color: #3a3d3a;
  color: white;
  padding: 10px;
  padding-left: 13px;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header p {
  grid-column: 2;
  text-align: center;
}

.dropbutton {
  grid-column: 3;

  background-color: green;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
}


.dropdown {
  grid-column: 3;
  text-align:  right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  grid-column: 3;
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  grid-column: 3;

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbutton {
  background-color: #3e8e41;
}

/* .canvas {
  width: 100%;
  height: 100%;
} */


.videoDiv {
  display: block;
  margin-top: 150vh;
  margin-bottom: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#frame-1 {
  margin-top: 50vh;
}
#frame-2 {
  margin-top: 40vh;
}
#frame-3 {
  margin-top: 80vh;
}
#frame-4 {
  margin-top: 70vh;
}
#frame-5 {
  margin-top: 20vh;
}


.centeringDiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 100vh;
}

.colorButtons {
  display: grid;
  grid-template: 1fr / repeat(3, 120px);
  grid-column-gap: 15px;
}

.red, .blue, .green {
  box-shadow: 0px 0px 10px #6fc067;
  margin-left: 15px;
}

.red {
  background-color: red;
  grid-column: 1;
  width: 100px;
  height: 100px;
}
.blue {
  background-color: blue;
  grid-column: 2;
  width: 100px;
  height: 100px;
}
.green {
  background-color: green;
  grid-column: 3;
  width: 100px;
  height: 100px;
}


.monaLisa {
  text-align: center;
  margin-bottom: 500vh;
}
.monaLisa img {
width: 40%
}

.para {
  text-align: center;
  color:white;
}

.newDiv {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 40vmax;
  margin-right: 40vmax
}
.newDiv a {
  color: white;
  text-decoration: none;
}
.newDiv a:hover {
  color: #6fc067;
}
